{% extends "layout.html" %}
{% block content %}
    {% for repair in repair_data.items %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ repair.customer_name }}</a>
              <a class="text-muted">{{ repair.job_number }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('jewellery_repair', jrep_id=repair.id) }}">{{ repair.item_description }}</a></h2>
            <p class="article-content">{{ repair.booking_time.strftime('%d-%m-%Y - %H:%M:%S') }}</p>
          </div>
        </article>
    {% endfor %}

    {% for page_num in repair_data.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
        {% if page_num %}
            {% if repair_data.page == page_num %}
                <a class="btn btn-secondary btn-info mb-4" href="{{ url_for('home', page=page_num)}}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-secondary mb-4" href="{{ url_for('home', page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}
